#Desafio Data Wrangling
#### A continucaion se presenara el proceso de data wrangling aplicado a un data set que contiene informacion de ventas de diferentes productos a lo largo del tiempo.

In [49]:
import pandas as pd
import numpy as np

In [50]:
df = pd.read_csv ('/content/drive/MyDrive/Data Science/Data Science /data wrangling/SalesForCourse_quizz_table.csv')

In [51]:
df

,index,Date,Year,Month,Customer Age,Customer Gender,Country,State,Product Category,Sub Category,Quantity,Unit Cost,Unit Price,Cost,Revenue,Column1
0,0,02/19/16,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,1.0,80.00,109.000000,80.0,109.000000,NaN
1,1,02/20/16,2016.0,February,29.0,F,United States,Washington,Clothing,Gloves,2.0,24.50,28.500000,49.0,57.000000,NaN
2,2,02/27/16,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,3.67,5.000000,11.0,15.000000,NaN
3,3,03/12/16,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,2.0,87.50,116.500000,175.0,233.000000,NaN
4,4,03/12/16,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,35.00,41.666667,105.0,125.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34862,34862,02/07/16,2016.0,February,38.0,M,France,Hauts de Seine,Bikes,Mountain Bikes,2.0,1160.00,985.500000,2320.0,1971.000000,NaN
34863,34863,03/13/15,2015.0,March,38.0,M,France,Hauts de Seine,Bikes,Mountain Bikes,1.0,2049.00,1583.000000,2049.0,1583.000000,NaN
34864,34864,04/05/15,2015.0,April,38.0,M,France,Hauts de Seine,Bikes,Mountain Bikes,3.0,683.00,560.666667,2049.0,1682.000000,NaN
34865,34865,08/30/15,2015.0,August,38.0,M,France,Hauts de Seine,Bikes,Mountain Bikes,1.0,2320.00,1568.000000,2320.0,1568.000000,NaN
34866,34866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,641.532095,NaN

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34867 entries, 0 to 34866
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             34867 non-null  int64
 1   Date              34866 non-null  object
 2   Year              34866 non-null  float64
 3   Month             34866 non-null  object
 4   Customer Age      34866 non-null  float64
 5   Customer Gender   34866 non-null  object
 6   Country           34866 non-null  object
 7   State             34866 non-null  object
 8   Product Category  34866 non-null  object
 9   Sub Category      34866 non-null  object
 10  Quantity          34866 non-null  float64
 11  Unit Cost         34866 non-null  float64
 12  Unit Price        34866 non-null  float64
 13  Cost              34866 non-null  float64
 14  Revenue           34867 non-null  float64
 15  Column1           2574 non-null   float64
dtypes: float64(8), int64(1), object(7)
memory usage: 4.3+ MB

In [53]:
df.head()

,index,Date,Year,Month,Customer Age,Customer Gender,Country,State,Product Category,Sub Category,Quantity,Unit Cost,Unit Price,Cost,Revenue,Column1
0,0,02/19/16,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,1.0,80.00,109.000000,80.0,109.0,NaN
1,1,02/20/16,2016.0,February,29.0,F,United States,Washington,Clothing,Gloves,2.0,24.50,28.500000,49.0,57.0,NaN
2,2,02/27/16,2016.0,February,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,3.67,5.000000,11.0,15.0,NaN
3,3,03/12/16,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,2.0,87.50,116.500000,175.0,233.0,NaN
4,4,03/12/16,2016.0,March,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,35.00,41.666667,105.0,125.0,NaN

In [54]:
df. describe()

,index,Year,Customer Age,Quantity,Unit Cost,Unit Price,Cost,Revenue,Column1
count,34867.000000,34866.000000,34866.000000,34866.000000,34866.000000,34866.000000,34866.000000,34867.000000,2574.000000
mean,17433.000000,2015.569237,36.382895,2.002524,349.880567,389.232485,576.004532,640.870093,688.054913
std,10065.380254,0.495190,11.112902,0.813936,490.015846,525.319091,690.500395,736.640033,774.200897
min,0.000000,2015.000000,17.000000,1.000000,0.670000,0.666667,2.000000,2.000000,2.000000
25%,8716.500000,2015.000000,28.000000,1.000000,45.000000,53.666667,85.000000,102.000000,104.250000
50%,17433.000000,2016.000000,35.000000,2.000000,150.000000,179.000000,261.000000,319.000000,390.500000
75%,26149.500000,2016.000000,44.000000,3.000000,455.000000,521.000000,769.000000,902.000000,975.750000
max,34866.000000,2016.000000,87.000000,3.000000,3240.000000,5082.000000,3600.000000,5082.000000,3681.000000

In [55]:
df = df.drop(df.index[-1])

In [56]:
df = df.rename(columns={"Product Category": "Category", "Sub Category": "Subcategory"})

In [57]:
df = df.drop("index", axis=1)

In [58]:
df["Date"] = pd.to_datetime(df["Date"])

In [59]:
df["Year"] = df["Date"].dt.year
df["Month"] = df["Date"].dt.month

In [60]:
df["Customer Gender"] = df["Customer Gender"].astype("category")

In [61]:
column1_unique = df["Column1"].unique()

In [62]:
print(column1_unique)

[        nan 2370.        398.       ... 1971.       1568.
  687.344828]

In [63]:
media_column1 = df["Column1"].mean()

In [64]:
df["Column1"].fillna(media_column1, inplace=True)

In [65]:
duplicados = df.duplicated()
duplicados_df = df[duplicados]
print(duplicados_df)

Empty DataFrame
Columns: [Date, Year, Month, Customer Age, Customer Gender, Country, State, Category, Subcategory, Quantity, Unit Cost, Unit Price, Cost, Revenue, Column1]
Index: []

In [76]:
df["Date"] = pd.to_datetime(df["Date"])
df["Year"] = df["Date"].dt.year
df = df.drop("Date", axis=1)

In [77]:
df

,Year,Month,Customer Age,Customer Gender,Country,State,Category,Subcategory,Quantity,Unit Cost,Unit Price,Cost,Revenue,Column1
0,2016,2,29.0,F,United States,Washington,Accessories,Tires and Tubes,1.0,80.00,109.000000,80.0,109.0,688.054913
1,2016,2,29.0,F,United States,Washington,Clothing,Gloves,2.0,24.50,28.500000,49.0,57.0,688.054913
2,2016,2,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,3.67,5.000000,11.0,15.0,688.054913
3,2016,3,29.0,F,United States,Washington,Accessories,Tires and Tubes,2.0,87.50,116.500000,175.0,233.0,688.054913
4,2016,3,29.0,F,United States,Washington,Accessories,Tires and Tubes,3.0,35.00,41.666667,105.0,125.0,688.054913
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34861,2015,3,38.0,M,France,Charente-Maritime,Bikes,Mountain Bikes,1.0,2049.00,1487.000000,2049.0,1487.0,688.054913
34862,2016,2,38.0,M,France,Hauts de Seine,Bikes,Mountain Bikes,2.0,1160.00,985.500000,2320.0,1971.0,688.054913
34863,2015,3,38.0,M,France,Hauts de Seine,Bikes,Mountain Bikes,1.0,2049.00,1583.000000,2049.0,1583.0,688.054913
34864,2015,4,38.0,M,France,Hauts de Seine,Bikes,Mountain Bikes,3.0,683.00,560.666667,2049.0,1682.0,688.054913
34865,2015,8,38.0,M,France,Hauts de Seine,Bikes,Mountain Bikes,1.0,2320.00,1568.000000,2320.0,1568.0,688.054913

In [78]:
categorical_columns = ["Customer Gender", "Country", "State", "Category", "Subcategory"]
df_encoded = pd.get_dummies(df, columns=categorical_columns)

In [79]:
print(df_encoded.head())

   Year  Month  Customer Age  Quantity  Unit Cost  Unit Price   Cost  Revenue  \
0  2016      2          29.0       1.0      80.00  109.000000   80.0    109.0
1  2016      2          29.0       2.0      24.50   28.500000   49.0     57.0
2  2016      2          29.0       3.0       3.67    5.000000   11.0     15.0
3  2016      3          29.0       2.0      87.50  116.500000  175.0    233.0
4  2016      3          29.0       3.0      35.00   41.666667  105.0    125.0

      Column1  Customer Gender_F  ...  Subcategory_Helmets  \
0  688.054913                  1  ...                    0
1  688.054913                  1  ...                    0
2  688.054913                  1  ...                    0
3  688.054913                  1  ...                    0
4  688.054913                  1  ...                    0

   Subcategory_Hydration Packs  Subcategory_Jerseys  \
0                            0                    0
1                            0                    0
2                            0                    0
3                            0                    0
4                            0                    0

   Subcategory_Mountain Bikes  Subcategory_Road Bikes  Subcategory_Shorts  \
0                           0                       0                   0
1                           0                       0                   0
2                           0                       0                   0
3                           0                       0                   0
4                           0                       0                   0

   Subcategory_Socks  Subcategory_Tires and Tubes  Subcategory_Touring Bikes  \
0                  0                            1                          0
1                  0                            0                          0
2                  0                            1                          0
3                  0                            1                          0
4                  0                            1                          0

   Subcategory_Vests
0                  0
1                  0
2                  0
3                  0
4                  0

[5 rows x 80 columns]

In [80]:
bike_columns = ["Subcategory_Mountain Bikes", "Subcategory_Road Bikes", "Subcategory_Touring Bikes"]
df_encoded["Subcategory_Bikes"] = df_encoded[bike_columns].sum(axis=1)

In [81]:
df_encoded = df_encoded.drop(bike_columns, axis=1)

In [82]:
print(df_encoded.head())

   Year  Month  Customer Age  Quantity  Unit Cost  Unit Price   Cost  Revenue  \
0  2016      2          29.0       1.0      80.00  109.000000   80.0    109.0
1  2016      2          29.0       2.0      24.50   28.500000   49.0     57.0
2  2016      2          29.0       3.0       3.67    5.000000   11.0     15.0
3  2016      3          29.0       2.0      87.50  116.500000  175.0    233.0
4  2016      3          29.0       3.0      35.00   41.666667  105.0    125.0

      Column1  Customer Gender_F  ...  Subcategory_Fenders  \
0  688.054913                  1  ...                    0
1  688.054913                  1  ...                    0
2  688.054913                  1  ...                    0
3  688.054913                  1  ...                    0
4  688.054913                  1  ...                    0

   Subcategory_Gloves  Subcategory_Helmets  Subcategory_Hydration Packs  \
0                   0                    0                            0
1                   1                    0                            0
2                   0                    0                            0
3                   0                    0                            0
4                   0                    0                            0

   Subcategory_Jerseys  Subcategory_Shorts  Subcategory_Socks  \
0                    0                   0                  0
1                    0                   0                  0
2                    0                   0                  0
3                    0                   0                  0
4                    0                   0                  0

   Subcategory_Tires and Tubes  Subcategory_Vests  Subcategory_Bikes
0                            1                  0                  0
1                            0                  0                  0
2                            1                  0                  0
3                            1                  0                  0
4                            1                  0                  0

[5 rows x 78 columns]

In [89]:
numeric_columns = df_encoded.select_dtypes(include="number").columns

In [83]:
from sklearn.decomposition import PCA

In [84]:
pca = PCA(n_components=2)

In [87]:
df_pca = pca.fit_transform(df_encoded)
df_pca = pd.DataFrame(df_pca, columns=["Componente 1", "Componente 2"])
print(df_pca.head())

   Componente 1  Componente 2
0   -820.547640     83.347442
1   -923.613291     35.982351
2   -988.123179     41.545298
3   -685.663725      5.370254
4   -841.304229      0.848012

In [94]:
explained_variance_ratio = pca.explained_variance_ratio_

In [95]:
print("Proporción de varianza explicada:", explained_variance_ratio)

Proporción de varianza explicada: [0.89927542 0.06285347]

In [92]:
df_final = pd.concat([df_encoded.drop(numeric_columns, axis=1), pd.DataFrame(df_pca, columns=["Componente 1", "Componente 2"])], axis=1)

In [93]:
print(df_final.head())

   Componente 1  Componente 2
0   -820.547640     83.347442
1   -923.613291     35.982351
2   -988.123179     41.545298
3   -685.663725      5.370254
4   -841.304229      0.848012